* {
    font-family: 'Poppins', sans-serif !important;
}



.timer-banner {
    width: 100%;
    /* border: 2px solid #969696; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 15px;
    /* height: 40px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.timer-banner-icon {
    /* width: 25px; */
    /* background: rgb(239, 239, 255); */
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
}

.timer-banner-text-block {
    /* background-color: rgb(255, 215, 215); */
    display: flex;
    align-items: center;

    justify-content: flex-start;
}

.price-held-for {
    font-size: 1.8em;
    font-weight: bold;
    margin-right: 10px;
}

.timer {
    font-size: 1.8em;
    font-weight: bold;
}


.checkout-steps {
    margin-bottom: 10px !important;
    border-radius: 10px !important;
}

.checkout-h1 {
    font-size: 1.8em !important;
}

.checkout-transfer-h2 {
    font-size: 1.2em !important;
}

.checkout-transfer-h4 {
    margin-top: 15px;
    font-size: 1em;

}

.checkout-transfers-price {
    font-size: 1.5em;
}

.checkout-transfers-title {
    font-size: 1.2em;
    font-weight: 400 !important;
}

.checkout-guests-p {
    margin-bottom: 5px !important;
}

.checkout-checkbox-btn {
    margin-top: 12px;

}

.checkout-radio-btns:first-child {
    border-bottom: 2px #2abaae dashed;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.checkout-radio-btn-elm {
    border-color: #39a29a !important;
}

.checkout-checkbox-btn-elm {
    border-color: #39a29a !important;
}
.checkout-radio-btn-elm.active::after {
    background-color: #39a29a !important;
}


.checkout-checkbox-btn-title {
    font-size: 1em !important;
}

.checkout-form-privacy {
    font-size: 1.2em !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
}

.checkout-h3 {
    margin-top: 15px;
    font-size: 1.2em;
}

.flight-title {
    font-size: 1.8em;
    text-decoration: underline 2px #30D5C8;
}

.checkout-input-label-input {
    padding: 8px 15px !important;
}

.checkout-select-wrapper {
    height: 45px !important;
}

.checkout-form-label-title {
    font-size: 14px !important;
}

.checkout-input-label {
    margin-bottom: 0 !important;
}

.checkout-select-wrapper {
    margin-bottom: 0 !important;
}

.checkout-step-number {
    font-size: 1.3em;
    font-weight: bold;
    background-color: #2abaae !important;
}

.checkout-transfer {
    border-radius: 10px !important;
}

#main-footer {
    display: none;
}

.a-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkout-form-group {
    margin: 10px 0 10px 0;
}

.checkout-form-datebirth {
    margin-bottom: 45px;
}





.add-flight-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.add-flight-block {
    margin-top: 45px;
    border-top: 2px #2abaae dashed;
    padding-top: 45px;
}

.arrow {
    font-size: 1.3em;
    margin-left: 10px;
    position: relative;
    top: 4px;
    color: #2abaae;
    
}


.hidden {
    display: none;
}
